# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.egg-info/
dist/
build/
*.so

# Environment variables
.env

# Service account keys
mindful-life-457009-t7-eb15a4d06fe7.json
*.json # Be careful if you need other JSON files, be more specific

# IDE / OS files
.idea/
.vscode/
*.DS_Store
